body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}

.content{
	background-image: url('https://images.pexels.com/photos/374665/pexels-photo-374665.jpeg?cs=srgb&dl=empty-train-interior-374665.jpg&fm=jpg');
}
